anytree==2.4.3
appdirs==1.4.3
awscli==1.16.42
backcall==0.1.0
beautifulsoup4==4.6.3
bleach==3.1.1
botocore==1.12.32
btrfsutil==1.0.0
CacheControl==0.12.5
cachetools==2.1.0
catfish==1.4.6
certifi==2018.8.13
chardet==3.0.4
Click==7.0
colorama==0.4.0
cupshelpers==1.0
cycler==0.10.0
decorator==4.3.0
defusedxml==0.5.0
distlib==0.2.8
distro==1.3.0
docutils==0.14
entrypoints==0.2.3
feedparser==5.2.1
firebase-admin==2.13.0
Flask==1.0.2
google-api-core==1.4.1
google-api-python-client==1.7.4
google-auth==1.5.1
google-auth-httplib2==0.0.3
google-cloud-core==0.28.1
google-cloud-datastore==1.7.0
google-cloud-firestore==0.29.0
google-cloud-storage==1.13.0
google-resumable-media==0.3.1
googleapis-common-protos==1.5.3
grpcio==1.15.0
gspread==3.0.1
gufw==18.10.0
html5lib==1.0.1
httpie==0.9.8
httplib2==0.11.3
idna==2.7
ipykernel==4.9.0
ipython==6.5.0
ipython-genutils==0.1.0
ipywidgets==7.2.1
isc==2.0
itsdangerous==0.24
jedi==0.13.1
Jinja2==2.10
jmespath==0.9.3
jsonschema==2.6.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
kiwisolver==1.0.1
lockfile==0.12.2
louis==3.7.0
lxml==4.2.5
Markdown==3.0.1
MarkupSafe==1.0
matplotlib==3.0.0
mistune==0.8.4
msgpack==0.5.6
nbconvert==5.4.0
nbformat==4.4.0
notebook==5.5.0
numpy==1.15.2
oauth2client==4.1.3
packaging==18.0
pandas==0.23.4
pandocfilters==1.4.2
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.5
pipenv==2018.7.1
progress==1.4
prompt-toolkit==1.0.15
protobuf==3.6.1
psutil==5.4.7
ptyprocess==0.6.0
pyalpm==0.8
pyasn1==0.4.2
pyasn1-modules==0.2.2
pycairo==1.17.0
pycups==1.9.74
pycurl==7.43.0.2
PyDrive==1.3.1
Pygments==2.2.0
PyGObject==3.30.1
pyparsing==2.2.2
PyQt5==5.11.3
PyQt5-sip==4.19.13
pysmbc==1.0.15.8
python-dateutil==2.7.5
python-twitch-client==0.6.0
pytoml==0.1.19
pytz==2018.5
pyusb==1.0.2
pyxdg==0.26
PyYAML==3.13
pyzmq==17.1.0
Reflector==2018.3.3.22.1.34
regex==2018.8.29
requests==2.20.0
retrying==1.3.3
rsa==4.0
s3transfer==0.1.13
scikit-learn==0.20.0
scipy==1.1.0
seaborn==0.9.0
Send2Trash==1.5.0
simplegeneric==0.8.1
sip==4.19.13
six==1.11.0
team==1.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.4.2
tornado==5.1.1
traitlets==4.3.2
ufw==0.35
uritemplate==3.0.0
urllib3==1.24
virtualenv==16.0.0
virtualenv-clone==0.3.0
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.4.2
xgboost==0.80
