{% extends "layout.html" %}
{% block title %}About{% endblock %}
{% block content %}

<section id="about">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <h1>Know Our Team!</h1>
            <img class="img-responsive margin-top-45" src="img/5.jpg" alt="me">
         </div>
      </div>
      <br>
      <div class="row margin-top-45">
         <div class="col-md-3">
            <h2>Our Story</h2>
         </div>
         <div class="col-md-9">
           <p>
           In the fall of 2018, three hackers, one physics major, and a guy from Kentucky got together to build an app with the potential to revolutionize the Twitch user experience. Twitch.tv is a video game live streaming platform that caters to gamers and esports enthusiasts of all levels. As gaming live streams have risen in popularity, the amount of content on the site has grown exponentially. As avid gamers and Twitch viewers, we often found that in order to find new streamers to follow, we would have to sift through thousands of Twitch channels in hope of finding a couple interesting channels. We wanted to create a more personalized viewer experience using the Twitch API and data analysis so that we could increase the visibility of less popular channels and finally find some cool people to watch.
           </p>
         </div>
      </div>
<div class="row margin-top-45">
         <div class="col-md-3">
            <h2>Goals</h2>
         </div>
         <div class="col-md-9">
           <p>
           Twitchly leverages historical data from thousands of Twitch streamers and a machine learning classifier to provide personalized channel recommendations based on your viewing history. Twitch’s current recommendation system is biased toward popular streamers, and we wanted to increase user engagement with less-known streamers while creating a more curated Twitch experience. Simply type in your Twitch username to receive ten channel recommendations based on your personal user data and viewing history.
           </p>
         </div>
      </div>
   </div>
</section>
{% endblock %}
