{% extends "layout.html" %}
{% block title %}About{% endblock %}
{% block content %}

<section id="about">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <h1>Know Our Team!</h1>
            <img class="img-responsive margin-top-45" src="img/5.jpg" alt="me">
         </div>
      </div>
      <br>
      <div class="row margin-top-45">
         <div class="col-md-3">
            <h2>Our Story</h2>
         </div>
         <div class="col-md-9">
           <p>
           Twitch is an online live streaming video platform that primarily focuses on video game streaming and esports broadcasts. Twitch users often find that discovering new and interesting channels on Twitch is difficult due to the large amount of content on the site. Users don’t want to sift through thousands of popular streamers just to find the few that they actually like. Although the Twitch platform currently provides recommendations based on channel popularity, they don’t take into account a user’s viewing history, and less popular channels that the user might enjoy often slip through the cracks. Twitchly leverages historical data and predictive analysis to quickly provide personalized recommendations that users are guaranteed to like and maximize a user’s engagement with new channels.
           </p>
         </div>
      </div>
   </div>
</section>
{% endblock %}
