{% extends "layout.html" %}
{% block title %}Contact{% endblock %}
{% block content %}
<section>
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <h1>
               Want to learn more about us? <br>
               Send us an email with your questions!
            </h1>
            <h4><a href="mailto:dev@twitchly.com">dev@twitchly.com</a></h4>
         </div>
      </div>
      <div class="row margin-top-45">
         <div class="col-md-12">
            <img class="img-responsive margin-top-45" src="img/3.jpg" alt="me">
         </div>
      </div>
   </div>
   </div>
</section>
{% endblock %}