{% extends "layout.html" %}
{% block title %}User Profile{% endblock %}
{% block content %}
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <img align='left' style="padding-right:15px" src="https://static-cdn.jtvnw.net/jtv_user_pictures/evangelion0-profile_image-adfe3e914151fc30-300x300.png" width="75" height="60" id=#hp/>
        <h2>Evangelion0</h2>
      </div>
      <div>
        <p>"Hi there! I'm a Hearthstone player of the Valencia CF eSports team. Love you all!"</p>
      </div>
    </div>
  </div>

<section>
{% endblock %}
